IDalForUi/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38000/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38000/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38000/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:38000/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfGoogleMaps" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddNewMarkerType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMarkerType" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewMarkerType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMarkerTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCity" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMarkerType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarkerType" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMarkerType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarkerTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMarkerType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMarkerType" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMarkerType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMarkerTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSuchAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSuchAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSuchAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSuchAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUserPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserPlace" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUserPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarkersOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkersOfType" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarkersOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkersOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarkersOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkersOfUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarkersOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarkersOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSuchUserNameInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSuchUserNameInDB" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSuchUserNameInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSuchUserNameInDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsPasswordsEquals_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPasswordsEquals" />
  </wsdl:message>
  <wsdl:message name="IService1_IsPasswordsEquals_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPasswordsEqualsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlaceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlaceTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPlaceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlaceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginStatusOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatusOfUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginStatusOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatusOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityStreetAndNumberOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityStreetAndNumberOfUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCityStreetAndNumberOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityStreetAndNumberOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDefaultPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultPicture" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDefaultPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMarkersDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMarkersDto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMarkersDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMarkersDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCitiesDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesDto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllCitiesDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMarkerTypesDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMarkerTypesDto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMarkerTypesDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMarkerTypesDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLoginDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginDto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLoginDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoginDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMarker_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarker" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMarker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarkerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMarker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMarker" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMarker_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMarkerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddNewMarkerType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewMarkerType" message="tns:IService1_AddNewMarkerType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewMarkerTypeResponse" message="tns:IService1_AddNewMarkerType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCity" message="tns:IService1_AddNewCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCityResponse" message="tns:IService1_AddNewCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarkerType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMarkerType" message="tns:IService1_UpdateMarkerType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMarkerTypeResponse" message="tns:IService1_UpdateMarkerType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCity" message="tns:IService1_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCityResponse" message="tns:IService1_UpdateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMarkerType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMarkerType" message="tns:IService1_DeleteMarkerType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMarkerTypeResponse" message="tns:IService1_DeleteMarkerType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCity" message="tns:IService1_DeleteCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCityResponse" message="tns:IService1_DeleteCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteLogin" message="tns:IService1_DeleteLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteLoginResponse" message="tns:IService1_DeleteLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateLogin" message="tns:IService1_UpdateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateLoginResponse" message="tns:IService1_UpdateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSuchAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsSuchAddress" message="tns:IService1_IsSuchAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsSuchAddressResponse" message="tns:IService1_IsSuchAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUserPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewUserPlace" message="tns:IService1_AddNewUserPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewUserPlaceResponse" message="tns:IService1_AddNewUserPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarkersOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMarkersOfType" message="tns:IService1_GetMarkersOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMarkersOfTypeResponse" message="tns:IService1_GetMarkersOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarkersOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMarkersOfUser" message="tns:IService1_GetMarkersOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMarkersOfUserResponse" message="tns:IService1_GetMarkersOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewUser" message="tns:IService1_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewUserResponse" message="tns:IService1_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSuchUserNameInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsSuchUserNameInDB" message="tns:IService1_IsSuchUserNameInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsSuchUserNameInDBResponse" message="tns:IService1_IsSuchUserNameInDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPasswordsEquals">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsPasswordsEquals" message="tns:IService1_IsPasswordsEquals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsPasswordsEqualsResponse" message="tns:IService1_IsPasswordsEquals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlaceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPlaceTypes" message="tns:IService1_GetAllPlaceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPlaceTypesResponse" message="tns:IService1_GetAllPlaceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCities" message="tns:IService1_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCitiesResponse" message="tns:IService1_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginStatusOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginStatusOfUser" message="tns:IService1_GetLoginStatusOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginStatusOfUserResponse" message="tns:IService1_GetLoginStatusOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityStreetAndNumberOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCityStreetAndNumberOfUser" message="tns:IService1_GetCityStreetAndNumberOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCityStreetAndNumberOfUserResponse" message="tns:IService1_GetCityStreetAndNumberOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDefaultPicture" message="tns:IService1_GetDefaultPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDefaultPictureResponse" message="tns:IService1_GetDefaultPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMarkersDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMarkersDto" message="tns:IService1_GetAllMarkersDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMarkersDtoResponse" message="tns:IService1_GetAllMarkersDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCitiesDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllCitiesDto" message="tns:IService1_GetAllCitiesDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllCitiesDtoResponse" message="tns:IService1_GetAllCitiesDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMarkerTypesDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMarkerTypesDto" message="tns:IService1_GetAllMarkerTypesDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMarkerTypesDtoResponse" message="tns:IService1_GetAllMarkerTypesDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLoginDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLoginDto" message="tns:IService1_GetAllLoginDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLoginDtoResponse" message="tns:IService1_GetAllLoginDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMarker" message="tns:IService1_UpdateMarker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMarkerResponse" message="tns:IService1_UpdateMarker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMarker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMarker" message="tns:IService1_DeleteMarker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMarkerResponse" message="tns:IService1_DeleteMarker_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewMarkerType">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewMarkerType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCity">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarkerType">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMarkerType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMarkerType">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMarkerType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSuchAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/IsSuchAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUserPlace">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewUserPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkersOfType">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMarkersOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkersOfUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMarkersOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSuchUserNameInDB">
      <soap:operation soapAction="http://tempuri.org/IService1/IsSuchUserNameInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPasswordsEquals">
      <soap:operation soapAction="http://tempuri.org/IService1/IsPasswordsEquals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlaceTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPlaceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginStatusOfUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginStatusOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityStreetAndNumberOfUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCityStreetAndNumberOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultPicture">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDefaultPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMarkersDto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMarkersDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCitiesDto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllCitiesDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMarkerTypesDto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMarkerTypesDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLoginDto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLoginDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarker">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMarker">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMarker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:38000/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>