IDalForUi/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfGoogleMaps" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfGoogleMaps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:38000/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMarkerWcf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarkerWcf" nillable="true" type="tns:MarkerWcf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarkerWcf" nillable="true" type="tns:ArrayOfMarkerWcf" />
  <xs:complexType name="MarkerWcf">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Contacts" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Lng" type="xs:double" />
      <xs:element minOccurs="0" name="MarkerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarkerWcf" nillable="true" type="tns:MarkerWcf" />
  <xs:complexType name="ArrayOfCityWcf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityWcf" nillable="true" type="tns:CityWcf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityWcf" nillable="true" type="tns:ArrayOfCityWcf" />
  <xs:complexType name="CityWcf">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CityAddresses" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityWcf" nillable="true" type="tns:CityWcf" />
</xs:schema>